@font-face {
  font-display: block;
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src: url(https://v4.cdnjs1.com/_nuxt/icomoon.DT3f92Nh.eot?y6i3x2);
  src: url(https://v4.cdnjs1.com/_nuxt/icomoon.DT3f92Nh.eot?y6i3x2#iefix) format("embedded-opentype"), url(https://v4.cdnjs1.com/_nuxt/icomoon.DFLKnCLr.ttf?y6i3x2) format("truetype"), url(https://v4.cdnjs1.com/_nuxt/icomoon.C8Nzx_ni.woff?y6i3x2) format("woff"), url(https://v4.cdnjs1.com/_nuxt/icomoon.BM5CfzW5.svg?y6i3x2#icomoon) format("svg")
}

[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-sen-cash-refund:before {
  content: "\e908"
}

.icon-sen-hand-coin:before {
  content: "\e90c"
}

.icon-sen-delivery-truck-2:before {
  content: "\e93a"
}

.icon-sen-star-empty:before {
  content: "\e93b"
}

.icon-sen-star-fill:before {
  content: "\e93c"
}

.icon-sen-star-half:before {
  content: "\e93d"
}

.icon-sen-image-edit:before {
  content: "\e939"
}

.icon-sen-skip-previous:before {
  content: "\e937"
}

.icon-sen-skip-next:before {
  content: "\e938"
}

.icon-sen-arrow-down-thin:before {
  content: "\e930"
}

.icon-sen-arrow-right-thin:before {
  content: "\e931"
}

.icon-sen-arrow-up-thin:before {
  content: "\e932"
}

.icon-sen-arrow-left-thin:before {
  content: "\e933"
}

.icon-sen-magnify-minus-outline:before {
  content: "\e934"
}

.icon-sen-magnify-plus-outline:before {
  content: "\e935"
}

.icon-sen-refresh:before {
  content: "\e936"
}

.icon-sen-plus-circle:before {
  content: "\e92e"
}

.icon-sen-checkbox-marked:before {
  content: "\e92f"
}

.icon-sen-check:before {
  content: "\e92d"
}

.icon-sen-bike-fast:before {
  content: "\e92b"
}

.icon-sen-tag:before {
  content: "\e92c"
}

.icon-sen-checkbox-blank-outline:before {
  content: "\e92a"
}

.icon-sen-menu-down:before {
  content: "\e928"
}

.icon-sen-menu-swap:before {
  content: "\e929"
}

.icon-sen-checkbox-marked-outline:before {
  content: "\e927"
}

.icon-sen-chevron-double-left:before {
  content: "\e925"
}

.icon-sen-chevron-double-right:before {
  content: "\e926"
}

.icon-sen-truck-delivery-outline:before {
  content: "\e906"
}

.icon-sen-cart-remove:before {
  content: "\e907"
}

.icon-sen-package-variant:before {
  content: "\e909"
}

.icon-sen-printer-check:before {
  content: "\e90a"
}

.icon-sen-account-check:before {
  content: "\e90b"
}

.icon-sen-alert-outline:before {
  content: "\e90e"
}

.icon-sen-star:before {
  content: "\e90f"
}

.icon-sen-play-circle-outline:before {
  content: "\e910"
}

.icon-sen-alert:before {
  content: "\e911"
}

.icon-sen-arrow-left:before {
  content: "\e912"
}

.icon-sen-checkbox-blank:before {
  content: "\e913"
}

.icon-sen-text-box-multiple:before {
  content: "\e914"
}

.icon-sen-twitter:before {
  content: "\e916"
}

.icon-sen-pinterest:before {
  content: "\e917"
}

.icon-sen-skype-business:before {
  content: "\e918"
}

.icon-sen-instagram:before {
  content: "\e919"
}

.icon-sen-facebook:before {
  content: "\e91a"
}

.icon-sen-chevron-right:before {
  content: "\e91b"
}

.icon-sen-chevron-left:before {
  content: "\e91c"
}

.icon-sen-minus:before {
  content: "\e91d"
}

.icon-sen-delete:before {
  content: "\e91e"
}

.icon-sen-square-edit-outline:before {
  content: "\e91f"
}

.icon-sen-camera:before {
  content: "\e920"
}

.icon-sen-chevron-down:before {
  content: "\e922"
}

.icon-sen-chevron-up:before {
  content: "\e923"
}

.icon-sen-plus:before {
  content: "\e924"
}

.icon-sen-search1:before {
  content: "\e9b4"
}

.icon-sen-menu:before {
  content: "\ea39"
}

.icon-sen-cart-arrow-down:before {
  content: "\e900"
}

.icon-sen-image-multiple-outline:before {
  content: "\e901"
}

.icon-sen-text-box-multiple-outline:before {
  content: "\e902"
}

.icon-sen-ruler:before {
  content: "\e903"
}

.icon-sen-lead-pencil:before {
  content: "\e904"
}

.icon-sen-close-circle:before {
  content: "\e905"
}

.icon-warning:before {
  content: "\e942"
}

.icon-sen-expand:before {
  content: "\e90d"
}

.icon-sen-cart-plus:before {
  content: "\e940"
}

.icon-sen-cart:before {
  content: "\e941"
}

.icon-sen-info-outline:before {
  content: "\e915"
}

.icon-sen-lock:before {
  content: "\e921"
}

.icon-sen-search:before {
  content: "\e93e"
}

.icon-sen-loading:before {
  content: "\e97b"
}

.icon-sen-google:before {
  content: "\ea8a"
}

.icon-sen-youtube:before {
  content: "\ea9d"
}

*,
:after,
:before {
  border: 0 solid theme("borderColor.DEFAULT", currentColor);
  box-sizing: border-box
}

:after,
:before {
  --tw-content: ""
}

html {
  font-family: theme("fontFamily.sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-feature-settings: theme("fontFamily.sans[1].fontFeatureSettings", normal);
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  line-height: inherit;
  margin: 0
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: theme("fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0
}

fieldset,
legend {
  padding: 0
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: theme("colors.gray.400", #9ca3af);
  opacity: 1
}

input::placeholder,
textarea::placeholder {
  color: theme("colors.gray.400", #9ca3af);
  opacity: 1
}

[role=button],
button {
  cursor: pointer
}

:disabled {
  cursor: default;
  opacity: .65
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  height: auto;
  max-width: 100%
}

[hidden] {
  display: none
}

button:focus-visible,
input:focus-visible {
  outline: unset
}

.animate__headShake {
  animation-name: headshake;
  animation-timing-function: ease-in-out
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

.animate__animated.animate__infinite {
  animation-iteration-count: infinite
}

.animate__spin {
  animation-name: spin;
  animation-timing-function: linear
}

@keyframes headshake {
  0% {
    transform: translateX(0)
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg)
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg)
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg)
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg)
  }

  50% {
    transform: translateX(0)
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}

.page-enter-active {
  transition: all .1s ease-out
}

.page-leave-active {
  transition: all .3s cubic-bezier(1, .5, .8, 1)
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(20px)
}

.layout-enter-active {
  transition: all .1s ease-out
}

.layout-leave-active {
  transition: all .3s cubic-bezier(1, .5, .8, 1)
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: translateY(-20px)
}

.skeleton-effect-wave {
  animation: skeleton-effect-wave 2s infinite;
  -webkit-mask-image: linear-gradient(90deg, transparent 0, #000 25%, #000 75%, transparent);
  mask-image: linear-gradient(90deg, transparent 0, #000 25%, #000 75%, transparent);
  -webkit-mask-position: 50% top;
  mask-position: 50% top;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%
}

@keyframes skeleton-effect-fade {
  0% {
    opacity: 1
  }

  50% {
    opacity: .2
  }

  to {
    opacity: 1
  }
}

@keyframes skeleton-effect-wave {
  0% {
    -webkit-mask-position: 50% top;
    mask-position: 50% top
  }

  to {
    -webkit-mask-position: -150% top;
    mask-position: -150% top
  }
}

@keyframes skeleton-effect-pulse {
  0% {
    transform: scale(1)
  }

  40% {
    transform: scale(1)
  }

  50% {
    transform: scale(.975)
  }

  to {
    transform: scale(1)
  }
}

.splide__slide--clone .skeleton {
  display: none
}

.splide__pagination__page.is-active {
  background-color: rgba(65, 65, 65, .8) !important
}

@keyframes splide-loading {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(1turn)
  }
}

.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1
}

.splide--rtl {
  direction: rtl
}

.splide__track--ttb > .splide__list {
  display: block
}

.splide__container {
  box-sizing: border-box;
  position: relative
}

.splide__list {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}

.splide:not(.is-overflow) .splide__pagination {
  display: none
}

.splide__progress__bar {
  width: 0
}

.splide {
  position: relative;
  visibility: hidden
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative
}

.splide__slide img {
  vertical-align: bottom
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  margin: 0 -1.25rem;
  padding: 0 1.25rem !important;
  scrollbar-width: none !important
}

.small-scroll::-webkit-scrollbar {
  height: 1px;
  width: 1px
}

.medium-scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px
}

::-webkit-scrollbar-track {
  border-radius: 8px
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-lighter);
  border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light)
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

div {
  scrollbar-color: var(--color-primary);
  scrollbar-width: thin
}

html.dark ::-webkit-scrollbar-track {
  background: #1e293b;
  border-left: 1px solid #334155
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-color: #1e293b
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8
}

@media (max-width: 1023px) {
  .container {
    max-width: unset !important
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    height: 1px;
    width: 1px
  }
}

.input-error {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E")
}

.input-error,
.input-success {
  background-position: right calc(.375em + .1875rem) center;
  background-repeat: no-repeat;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  padding-right: calc(1.5em + .75rem) !important
}

.input-success {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%2328a745' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1'/%3E%3C/svg%3E")
}

.border-radius-override,
[class*=btn-border-fill]:not([class*=rounded]),
[class*=btn-fill]:not([class*=rounded]) {
  border-radius: var(--sp-border-radius-1)
}

.border-radius-override-p2,
.border:not([class*=rounded]),
.btn-border:not([class*=rounded]),
.product-item {
  border-radius: var(--sp-border-radius-2)
}

@media (max-width: 767px) {
  body:has(.bottom-fixed>button[data-test-id=campaign-add-to-cart]) .custom-opt-vari-position {
    bottom: 3.5rem
  }
}

.truncate-lines {
  --line: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--line);
  line-clamp: var(--line);
  word-break: break-word
}

.payment-gateway-accept .icon-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center
}

@media (min-width: 1024px) {
  .payment-gateway-accept .icon-card-container {
    justify-content: start
  }
}

.payment-gateway-accept .icon-card {
  --base-height: 25;
  background: #fff;
  height: calc(var(--base-height) * 1px)
}

.payment-gateway-accept .payments-sprite {
  --scale-fac: calc(85.5 / var(--base-height));
  background: var(--sprite-url) no-repeat;
  background-position: center calc(var(--icon-position) * var(--base-height) * 1px * -1 + -.5px);
  background-size: calc(150px / var(--scale-fac));
  border: 1px solid #d3d3d3;
  display: block;
  height: inherit;
  width: calc(150px / var(--scale-fac) + 4px)
}

.payment-gateway-accept .payments-sprite-amex {
  --icon-position: 0
}

.payment-gateway-accept .payments-sprite-paypal {
  --icon-position: 1
}

.payment-gateway-accept .payments-sprite-visa {
  --icon-position: 2
}

.payment-gateway-accept .payments-sprite-master {
  --icon-position: 3
}

.payment-gateway-accept .payments-sprite-sofort {
  --icon-position: 4
}

.payment-gateway-accept .payments-sprite-giropay {
  --icon-position: 5
}

@media (max-width: 767px) {
  .scroll-down #PageHeader:not(.show-menu) {
    transform: translateY(-100%)
  }
}

@media (min-width: 768px) {
  .scroll-down #PageHeader {
    transform: translateY(-100%)
  }
}

.deliver-to-location {
  grid-template-columns: 1fr 1fr 1fr
}

.deliver-to-location span {
  font-size: .85rem;
  line-height: 1.2
}

.loading-dots--dot {
  animation: dot-keyframes 1.2s ease-in-out infinite;
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  margin: 3px;
  width: 7px
}

.loading-dots--dot:nth-child(2) {
  animation-delay: .3s
}

.loading-dots--dot:nth-child(3) {
  animation-delay: .6s
}

.loading-dots--dot:nth-child(4) {
  animation-delay: .9s
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    transform: scale(1.2)
  }

  to {
    opacity: .4;
    transform: scale(1)
  }
}

.default .product-list-item:hover img {
  transform: scale(1.05)
}

.product-list-item button:hover .loading-dots--dot {
  background-color: #fff
}

.arrow-on-ends button.splide__arrow[disabled] {
  display: none
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
  z-index: 3
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  z-index: 3
}

.classic #headerMenu .sub-menu,
.default #headerMenu .sub-menu,
.vintage #headerMenu .sub-menu {
  display: none;
  min-width: -moz-max-content;
  min-width: max-content
}

.classic #headerMenu .sub-menu .menu-item,
.default #headerMenu .sub-menu .menu-item,
.vintage #headerMenu .sub-menu .menu-item {
  max-width: 250px;
  min-width: 150px;
  padding: .15rem 1rem
}

.classic #headerMenu .sub-menu:not(:has(>*>.sub-menu)),
.default #headerMenu .sub-menu:not(:has(>*>.sub-menu)),
.vintage #headerMenu .sub-menu:not(:has(>*>.sub-menu)) {
  overflow-y: auto
}

.classic #headerMenu .menu-item:hover > .sub-menu,
.default #headerMenu .menu-item:hover > .sub-menu,
.vintage #headerMenu .menu-item:hover > .sub-menu {
  display: inherit
}

.classic #headerMenu .menu-item:hover > div *,
.default #headerMenu .menu-item:hover > div *,
.vintage #headerMenu .menu-item:hover > div * {
  color: var(--color-primary-hover)
}

.givehug .viewbox-image img {
  border-radius: 10px !important
}

.givehug #headerMenu .sub-menu {
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
  min-width: -moz-max-content;
  min-width: max-content
}

.givehug #headerMenu .sub-menu .menu-item {
  max-width: 250px;
  min-width: 150px;
  padding: .15rem 1rem
}

.givehug #headerMenu .sub-menu:not(:has(>*>.sub-menu)) {
  overflow-y: auto
}

.givehug #headerMenu .menu-item > .sub-menu-wrapper {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  top: 5.2rem;
  transition: all .2s ease-in-out;
  visibility: hidden
}

.givehug #headerMenu .menu-item:hover > .sub-menu-wrapper {
  color: #000 !important;
  opacity: 1;
  pointer-events: auto;
  top: 2.2rem;
  visibility: visible
}

.givehug #headerMenu .sub-menu li:hover a {
  color: var(--color-primary) !important
}

.givehug .vue-slider-rail {
  height: 1px !important
}

.givehug .vue-slider-dot-handle {
  border: 1px solid #000 !important
}

.givehug .vue-slider-dot-handle:focus,
.givehug .vue-slider-dot-handle:hover {
  border-color: var(--color-primary) !important
}

.givehug .vue-slider-dot-handle:focus {
  outline: none !important
}

.givehug .vue-slider-process {
  background-color: #000 !important
}

.givehug .product-list-item {
  border: 1px solid #f6f6f6;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%
}

.givehug .product-list-item,
.givehug .product-list-item img {
  transition: all .2s ease-in-out
}

.givehug .product-list-item:hover {
  border-color: var(--color-primary)
}

.givehug .cart-item img:hover,
.givehug .product-list-item img:hover {
  transform: scale(1.05)
}

.givehug .cart-item a h5,
.givehug .cart-item img {
  cursor: pointer;
  transition: all .2s ease-in-out
}

.givehug .cart-item a:hover h5 {
  color: var(--color-primary)
}

.givehug .border-givehug {
  border: 1px solid #eaeaea;
  border-radius: 10px
}

.givehug .bg__foreground {
  background-color: hsla(0, 0%, 5%, .03)
}

.givehug .square-image {
  height: 100% !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  width: 100% !important
}

.givehug .btn-givehug {
  background-color: var(--color-primary);
  border-radius: 9999px;
  color: #fff;
  transition: all .2s ease-in-out
}

.givehug .btn-givehug:hover {
  opacity: .95
}

.givehug .givehug__background__description {
  background: linear-gradient(180deg, hsla(0, 0%, 95%, .5), hsla(0, 0%, 100%, .5) 27.4%)
}

.givehug .givehug__shadow {
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .1)
}

.givehug .popover {
  border: none !important;
  border-radius: 10px;
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2)
}

.givehug .givehug__description ul {
  font-size: .8rem !important;
  list-style-type: disc;
  margin-bottom: .5rem !important;
  padding-left: 1.2rem !important
}

.givehug .givehug__description p + ul {
  margin-top: -.5rem !important
}

.givehug .givehug__description p {
  margin-bottom: .5rem !important
}

.givehug .personalized-form .ant-col.ant-form-item-label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100%
}

.givehug .personalized-form .image-item {
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 1px solid #eaeaea !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  height: auto !important;
  width: auto !important
}

.givehug .personalized-form .image-item.active {
  border: 1px solid var(--color-primary) !important
}

.givehug .personalized-form .ant-col.ant-form-item-control-wrapper {
  margin-top: 12px
}

.givehug .personalized-form .ant-form-item-control-wrapper input {
  background-color: #f3f3f3 !important;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  margin-top: -11px !important;
  outline: none !important;
  padding: 12px 20px !important
}

.givehug .personalized-form .ant-form-item-control-wrapper input:focus {
  outline: none !important
}

.givehug .personalized-form .btn.btn-upload {
  background-color: #fff2ec !important;
  border: 1px dashed var(--color-primary) !important;
  border-radius: 10px !important;
  font-size: .85rem !important;
  height: 108px !important;
  padding-top: 35px !important;
  width: 100% !important
}

.givehug .personalized-form .btn-upload:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23F1641E' d='M16.063 25.313v-5.625h3.75l-4.688-5.625-4.687 5.624h3.75v5.625H9.5v-.046c-.158.009-.307.047-.469.047A7.03 7.03 0 0 1 2 18.28c0-3.607 2.728-6.547 6.229-6.95a7.026 7.026 0 0 1 6.896-5.706 7.03 7.03 0 0 1 6.898 5.706c3.5.403 6.225 3.343 6.225 6.95a7.03 7.03 0 0 1-7.031 7.032c-.158 0-.31-.038-.469-.047v.047z'/%3E%3C/svg%3E") 50%/contain no-repeat;
  content: "";
  height: 30px;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 30px
}

.givehug .personalized-form .input-count {
  color: #000 !important;
  font-weight: 500 !important
}

.givehug .personalized-form .niftyjs-grid > div {
  margin-bottom: 0 !important
}

.givehug .personalized-form .niftyjs-grid {
  gap: 16px 22px !important;
  grid-template-columns: repeat(auto-fill, minmax(76px, 1fr)) !important
}

@media (max-width: 768px) {
  .givehug .personalized-form .niftyjs-grid {
    gap: 15px 9px !important;
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr)) !important
  }
}

.givehug .personalized-form .niftyjs-grid div:empty[style*="margin-bottom: 0px;"] {
  display: none !important
}

.givehug .personalized-form > div {
  margin-bottom: 24px !important
}

.givehug .personalized-form > div:last-child {
  margin-bottom: 0 !important
}

.givehug .add-to-cart-group {
  display: none !important
}

.givehug .vue-slider-dot {
  height: 11px !important;
  width: 11px !important
}

.givehug .orderstatus .orderstatus-item {
  border: 1px solid #eaeaea;
  border-radius: 10px
}

.givehug .smooth__slider {
  margin: 0 -1.25rem !important;
  padding: 0 1.25rem !important;
  position: relative
}

.givehug .smooth__slider:after,
.givehug .smooth__slider:before {
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 1.2rem;
  z-index: 1
}

.givehug .smooth__slider:before {
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  left: 0;
  right: auto
}

.givehug .smooth__slider:after {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  left: auto;
  right: 0
}

.givehug img:not([alt*=flag]):not([class*=rounded]) {
  border-radius: 0
}

.givehug .crisp-client {
  display: none !important
}

.givehug .crisp-client.opened {
  display: block !important
}

.givehug .livechatbtn {
  display: none !important
}

.givehug .banner {
  cursor: pointer
}

.givehug .banner div,
.givehug .banner-item-img {
  transition: all .2s ease-in-out
}

.givehug .banner-item-img {
  transform: scale(1)
}

.givehug .banner:hover .banner-item-img {
  transform: scale(1.05)
}

.givehug .hover__scale,
.givehug .hover__scale2,
.givehug .trans__time {
  transition: all .2s ease-in-out
}

.givehug .hover__scale:hover {
  transform: scale(1.01)
}

.givehug .hover__scale2:hover {
  transform: scale(1.1)
}

.givehug.scroll-down #PageHeader {
  transform: translateY(0) !important
}

@media (max-width: 768px) {
  .crisp-client {
    display: none !important
  }

  .crisp-client.opened,
  .livechatbtn {
    display: block !important
  }

  .livechatbtn {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(50%);
    z-index: 9
  }

  .livechatbtn span {
    background: #fff;
    border: 0;
    border: 1px solid var(--color-primary);
    border-radius: .3rem .3rem 0 0;
    padding: .3rem 1rem;
    position: absolute;
    transform: rotate(-90deg) translateY(-200%);
    white-space: nowrap
  }
}

.vue-slider-disabled .vue-slider-process {
  background-color: #a7a7a7
}

.vue-slider-disabled .vue-slider-dot-handle {
  border-color: #a7a7a7
}

.vue-slider-disabled .vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px #a7a7a7
}

.vue-slider-rail {
  background-color: #f5f5f5;
  border-radius: 15px;
  transition: background-color .3s
}

.vue-slider:hover .vue-slider-rail {
  background-color: #e1e1e1
}

.vue-slider-process {
  background-color: var(--color-primary-light);
  border-radius: 15px;
  transition: background-color .3s
}

.vue-slider:hover .vue-slider-process {
  background-color: var(--color-primary)
}

.vue-slider-mark-step {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #e8e8e8;
  height: 100%;
  width: 100%
}

.vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px var(--color-primary-light)
}

.vue-slider:hover .vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px var(--color-primary)
}

.vue-slider-mark-label {
  font-size: 12px;
  white-space: nowrap
}

.vue-slider-dot-handle {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  transition: box-shadow .3s, border-color .3s;
  width: 100%
}

.vue-slider:hover .vue-slider-dot-handle {
  border-color: var(--color-primary-hover)
}

.vue-slider-dot-handle-focus {
  box-shadow: 0 0 0 5px rgba(54, 171, 255, .2)
}

.vue-slider-dot-handle-focus,
.vue-slider-dot-handle:hover,
.vue-slider:hover .vue-slider-dot-handle-focus,
.vue-slider:hover .vue-slider-dot-handle:hover {
  border-color: var(--color-primary)
}

.vue-slider-dot-handle-disabled {
  border-color: #ddd !important;
  cursor: not-allowed
}

.vue-slider-dot-tooltip {
  opacity: 0;
  transition: all .3s;
  visibility: hidden
}

.vue-slider-dot-tooltip-inner {
  background-color: rgba(0, 0, 0, .75);
  border-color: rgba(0, 0, 0, .75);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  color: #fff;
  font-size: 14px;
  padding: 6px 8px;
  transform: scale(.9);
  transition: transform .3s;
  white-space: nowrap
}

.vue-slider-dot-tooltip-inner:after {
  content: "";
  position: absolute
}

.vue-slider-dot-tooltip-inner-top:after {
  border: 5px solid transparent;
  border-top-color: inherit;
  height: 0;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  width: 0
}

.vue-slider-dot-tooltip-inner-bottom:after {
  border: 5px solid transparent;
  border-bottom-color: inherit;
  bottom: 100%;
  height: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0
}

.vue-slider-dot-tooltip-inner-left:after {
  border: 5px solid transparent;
  border-left-color: inherit;
  height: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0
}

.vue-slider-dot-tooltip-inner-right:after {
  border: 5px solid transparent;
  border-right-color: inherit;
  height: 0;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0
}

.vue-slider-dot-tooltip-inner-top {
  transform-origin: 50% 100%
}

.vue-slider-dot-tooltip-inner-bottom {
  transform-origin: 50% 0
}

.vue-slider-dot-tooltip-inner-left {
  transform-origin: 100% 50%
}

.vue-slider-dot-tooltip-inner-right {
  transform-origin: 0 50%
}

.vue-slider-dot-tooltip-show,
.vue-slider-dot:hover .vue-slider-dot-tooltip {
  opacity: 1;
  visibility: visible
}

.vue-slider-dot-tooltip-show .vue-slider-dot-tooltip-inner,
.vue-slider-dot:hover .vue-slider-dot-tooltip .vue-slider-dot-tooltip-inner {
  transform: scale(1)
}
